<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Mocks Contact Details</title>
	</head>
	<h1>Mocks Online Store Contact Details</h1>
<p>
  Contact Details: 
<div id="footer"><a href="http://www.chrismocks.co.za">For Bookings & Interviews contact:
<br/> 
072 621 1194 / 071 614 4868 / 079 500 4717
<br/>
Email: chris.mocks@chrismocks.co.za
<br/>BBM: 286D5B6F
<br/>Website: www.chrismocks.co.za 
</a></div>
</p>
<p>Address 3403 Phase 4 <br/> Itsoseng Erasmus <br/> Postal Code :</p>
	<body>
	</body>
</html>
