<h3>Mocks Order Shipped</h3>
<p>
	This is to inform you that your order has been dispatched:
</p>
<table>
	<tr><th colspan="2"></th><th>Description</th></tr>
	<%= render @order.line_items %>
</table>

