<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Mocks Online News</title>
	</head>
	<body>
		<h3>Mocks News...</h3>
		<p>
			Mocks Jeans, located in Gauteng, Pretoria, is a manufacturer and retailer of women and men’s Jeans. 
Mocks Jeans has a wide range of apparels and styles approximately anything a woman or a man wants. 
All of the designs are made by our home based designers. 
We intend in selling the designs through our website. 
The business will be based on urban designs suitable for females and males of all ages.<br/> 

Mocks designs unique and fashionable jeans suitable for every occasion to men and women from every age group. 
They specialize in giving a feel of being special by providing a wide range of designs, 
style and class at really affordable prices. <br/>
As the online showroom and distribution cost will be lowered the prices will be lower than the prevailing market rates.
Mocks Jeans will offer stylish jeans online and is a cost-effective operation that will reduce the cost
of inventory and showroom.  <br/>

Mocks Jeans will process the order and collect the payment online. 
The order will then be sent to our manufacturing plant to be filled and shipped.  
Jeans will focus on jeans design and marketing of its products.<br/>
 
Company Objectives
Mocks Jean’s objective is to present consumers with designs,
styling and clothes that energizes any outdoor activity.

Product
Mocks Jeans will sell men and women's jeans online. 
Mocks will offer different designs for almost every type of active use. 
We will focus on the seasonal clothing demands of our customers as follows:
  * Jeans for men
  * Jeans for women
  
		</p>
	</body>
</html>
